body {
  font-family: 'Roboto', sans-serif;
}

header{
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

header> .logo-container{
  margin: 30px 0 0 30px;
}

header > span{
  margin: 30px 30px 0 0;
}

.burger-icon{
  font-size:30px;
  cursor:pointer;
  color: #695973;
}

.logo {
  height: 50px;
}

.hero{
  background-image: url("../images/lavender pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 80px;
}

.hero-tagline{
  width: 50%;
  font-size: 32px;
  margin-left: 120px;
  margin-top: 230px;
  font-family: 'Roboto Slab';
  color: #4A3175;
  line-height: 150%;
}

.bounce{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px;
}

.title{
  text-align: center;
  font-size: 42px;
  margin: 40px 40px;
  font-family: 'Roboto Slab';
  color: #32344C;
  margin-top: 100px;
}

.small-title{
  text-align: center;
  font-size: 34px;
  margin: 100px 0;
}
.test{
  margin-bottom: 0 !important;
}

.my-work{
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
}

.project-row{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.project-row > img{
  width: 40%;
}

.project-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 150px;
}

.project-text > h3{
  margin-bottom: 20px;
  font-family: 'Roboto Slab';
}

.project-text>p{
  margin-top: 30px;
  line-height: 150%;
  width: 60%;
}

.project-row.reverse {
  background-color: #F5F4F9;
  width: 100%;
}


.project-text-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.view-case-study{
  width: 320px;
  height: 45px;
  border-radius: 40px;
  background-color: #a1639f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-left: 150px;
}

.view-case-study a{
  text-decoration: none;
  color: white;
}

.view-case-study:hover{
  cursor: pointer;
  transition: 0.1s;
  background-color: #89ABE3;
  transform: : scale(1.1);
  color: #89ABE3;
}

.view-case-study > a:hover{
  color: #89ABE3;
}

.view-case-study > p{
  color: white;
  font-size: 22px;
}

.skills-big-container{
  display: flex;
  justify-content: center;
}
.skills-container{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.skill{

  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px 0;
  justify-items: center;

}

.skill-image{
  margin-right: 40px;
  margin-top: 40px;
}

.skill-image img{
  height: 80px;
  width: 80px;
}

.skill-text > h4{
  margin-bottom: 20px;
  line-height: 150%;

}

.about-me{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.about-me > p{
  font-size: 1.2em;
  margin-top: 20px;
  width: 50%;
  line-height: 30px;
  padding-right: 150px;
}

.about-me > img{
  width: 40%;
}

.testimonials {
  max-width: 800px;
  margin: auto;
  padding: 15px;
  text-align: center;
  position: relative;
}
.scroller {
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;

}
.item {
  min-width: 88%;
  scroll-snap-align: center;
  background-color: white;
  margin-bottom: 10px;
  padding: 0 50px;
  background-image: url("../images/footer-pic.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact img {
  height: 40px;
  width: 40px;
}
.card {
  padding: 80px 40px 40px;
  z-index: 1;
}
.card p {
  font-style: italic;
  line-height: 1.6;
}

.name-label{
  font-size: 12px;
  font-weight: 300;
}
.card span {
  display: block;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.testimonials .btn {
  position: absolute;
  top: 50%;
  margin-top: 20px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(95, 106, 117, 0.3);
  z-index: 1;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.testimonials .btn:hover{
  background-color: #F3DBD7;
  cursor: pointer;
}
.testimonials .btn.next {
  right: 15px;
}
.testimonials .btn.prev {
  left: 15px;
}
@media screen and (max-width: 480px) {
  .item {
    padding: 0 30px;
  }
  .card {
    padding: 80px 30px 30px;
  }
}


.contact{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact > a{
  margin: 0 20px;
}

.contact > img:hover{
  cursor: pointer;

}

footer{
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

h2{
  color: #32344C;
}
/*this is the curtain menu*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 36px;
  color:#000;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: grey;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*this is the end of curtain menu*/


/*Media queries*/

@media only screen and (min-device-width: 320px) and (max-device-width: 680px) {
  /* Styles */
  .logo{
    height: 100px;
    margin-top: 60px;
  }

  .burger-icon{
    font-size: 100px;
  }

  .hero{
    background-image: url("../images/lavender.png");
    background-repeat: no-repeat;
    height: 70vh;
    margin-bottom: 200px;
    font-family: 'Roboto Slab';
  }

  .hero-tagline{
    width: 40%;
    font-size: 40px;
    margin-left: 150px;
    margin-top: 250px;
    line-height: 100px;
    font-size: 'Roboto Slab'
  }

  .title{
    font-size: 48px;
    font-weight: 600;
  }

  .project-row{
    flex-direction: column;
    width: 90%;
  }
  .reverse{
    flex-direction: column-reverse;
  }

  .project-row > img{
    width: 100%;
  }
  .project-text-container{
    width: 100%;
  }

  .my-work{
    margin-bottom: 200px;
  }

  .project-text > h3{
    margin-bottom: 50px;
    font-size: 3.2em;
    font-weight: 400;
    padding: 70px;
  }

  .project-text > h4{
    font-size: 2em;
    font-weight: 400;
    margin-left: 70px;
  }

  .project-text>p{
    margin-top: 60px;
    font-size: 1.8em;
    line-height: 80px;
    padding: 70px;
  }

  .view-case-study{
    width: 70%;
    height: 120px;
    border-radius: 60px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #a1639f;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .view-case-study > p{
    color: white;
    font-size: 44px;
  }

  .skills-container{
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .skill{
    width: 100%;
    justify-content: center;
    margin: 100px 0;
  }

  .skill-text>h4{
    font-size: 36px;
  }

  .skill-text>p{
    font-size: 1.8em;
    line-height: 150%;
  }

  .skill-image >img{
    width: 120px;
    height: 120px;
    margin-top: 0px;
    margin-right: 20px;
  }

  .about-me{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .about-me>p{
    font-size: 1.8em;
    margin: auto;
    width: 50%;
    line-height: 80px;
  }

  .about-me>img{
    width: 100%;
    display: block;
  }

  .test{
    text-align: center;
    padding: 0 40px;
  }


  .small-title{
    padding: 0 40px;
  }

  .contact>img{
    height: 40px;
  }

  footer > p{
    font-size: 44px;
  }

  .overlay a {
    margin: 10px;
    text-decoration: none;
    font-size: 66px;
    color:#000;
    display: block;
    transition: 0.3s;
    margin-bottom: 40px;
  }

  /*Project 1*/
  .Project1{
    width: 100%;
  }
  .wale-section{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav{
    visibility: hidden;
  }

  .overview-full{
    flex-direction: column;
    align-items: center;
  }

  .overview{
    margin-bottom: 20px;
  }

  .row{
    flex-direction: column;
  }

  .row-one{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
  }

  .personas{
    flex-direction: column;
  }

  .persona{
    margin-bottom: 20px;
  }

  .product-features{
    flex-direction: column;
  }
}

/*Start of project 1*/
.wale-section{
  margin-top: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wale-left{
  display: flex;
  align-items: center
}

.wale-left-text{
  margin-left: 30px;
  width: 300px;
}

.wale-left-text>h1{
  margin-bottom: 10px;
}

.wale-left-text>p{
  line-height: 27px;
}

.sticky{
  position: sticky;
  top:0;
  width: 100vw;
  height: 80px;
}

.case-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 80px;
  border-top: solid 3px #d6e2f9;
  border-bottom: solid 3px #d6e2f9;
  list-style: none;
  background-color: white;
}
.case-nav>li>a{
  text-decoration: none;
  color: black;
}
.case-nav>li>a:hover{
  color: #d6e2f9;
}

.overview-full{
  width: 50%;
  margin: auto;
  display: flex;
}

.overview{
  width: 25%;
  margin-right: 20px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prob-sol{
  width: 60%;
  margin-left: 30px;
  border-left: solid 1px #d6e2f9;
  padding-left: 30px;
  line-height: 150%;
}

.duration, .roles{
  border-bottom: solid 1px #d6e2f9;
  padding-bottom: 30px;
}
.duration>h3, .roles>h3, .tools>h3{
  margin-bottom: 20px;
}

.roles>ul, .tools>ul{
  list-style: none;
}

.problem>h2{
  margin-bottom: 20px;
}

.ur-callout{
  width: 50%;
  margin: auto;
  line-height: 150%;
}

.row{
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.row>div{
  width: 150px;
}

.row-one{
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.row-one>div{
  width: 250px;
}

.ca-images{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.comp-ana-text{
  width: 50%;
  margin: auto;
  line-height: 150%;
}

.case-buttons{
  background-color: #a1639f;
  border-radius: 40px;
  padding: 10px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  margin-top: 90px;
}

.button-hero-cta{
  color: white;
  text-decoration: none;
}

.personas{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;

}

.persona{
  width: 450px;
  background-color: #edf4fb;
  padding: 20px;
}

.persona-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.persona-name{
  text-align: center;
  font-size: 36px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.persona-row{
  width: 60%;
  margin:auto;
  display: flex;
  justify-content: space-between;
}

.persona-row>h4{

}

.persona-row>p{
  font-size: 18px;
}

.persona-top>div>h3{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.persona-top>div>ol{
  line-height: 150%;
  width: 60%;
  margin: auto;
}

.persona-top>div>ol>li{
  margin-bottom: 20px;
}

.anchor{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anchor>p{
  width: 50%;
  margin: auto;
  line-height: 150%;
}

.anchor >img{
  width:50%
}

.product-features{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.product-feature{
  line-height: 150%;
  margin: 20px;
  width: 30%;
}
.product-feature>p{
  height: 150px;
}

.conc{
  width: 50%;
  line-height: 150%;
}
